* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-feature-settings: 'kern';
}

.nav {
    top: 0%;
    left: 0%;
    right: 0%;
    height: 64.58px;
    display: flex;
    border: 1px solid #E2E8F0;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 100;
    box-shadow: 3px 3px 5px rgb(206, 206, 206);
}

.mainImage {
    height: 43px;
    margin-left: 175px;
}

.title {
    font-family: Baloo Chettan\ 2, cursive;
    font-weight: 800;
    margin-left: 10px;
    color: #222;
    font-size: 1.5rem;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.login {
    width: 85px;
    height: 32px;
    background: #4b4b4b;
    border-radius: 90px;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.headerElement {
    display: flex;
    gap: 3vw;
    padding-left: 300px;
    border-right: 1px solid #e8e8e3;
    padding-right: 25px;
}

.qr {
    max-width: 100%;
    height: auto;
    width: 44px;
    margin-left: 30px;
}

.get {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #121212;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgM {
    height: 100%;
    max-width: none;
}

.box {
    display: flex;
}

.men {
    font-family: Baloo Chettan\ 2, cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    color: #333;
    text-shadow: 0px 1px, 3px 0px, 1px 1px;
}

.mainImg {
    height: 122vh;
    width: 100vw;
    max-width: 700px;
}

.mainContent {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    padding-top: 250px;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: flex-start;
    min-width: 40%;
    padding-top: 180px;
    gap: 30px;
}

.subHeadDiv {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #484848;
    padding-top: 10px;
    display: flex;
    justify-content: left;
    left: 0%;
}

.gotofeed {
    position: relative;
    text-decoration: none;
    color: #fff;
    width: 308px;
    text-align: center;
    background: #4b4b4b;
    border-radius: 90px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    position: absolute;
    right: 20px;
}

.imgA {
    display: flex;
    padding-bottom: 30px;
}

.imgD {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding-left: 30px;
}

.imgE {
    width: 150px;
    aspect-ratio: auto 150 / 50;
}

.mens {
    padding-left: 60px;
    padding-top: 40px;
    line-height: 10px;
}

.m {
    font-size: 18px;
}

.img1 {
    aspect-ratio: auto 320 / 540;
    max-width: 100%;
    border-radius: 10px;
}

.one {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.number {
    gap: 20vw;
    padding: px 180px;
    height: 610px;
    background-image: url(https://images.kooapp.com/img/mapbackground.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
}

.map {
    margin-left: 50px;
    margin-top: 100px;
    line-height: 70px;
}

.maps {
    margin-left: 50px;
    line-height: 30px;
    font-size: 18px;
}

.table1 {
    height: 230px;
    width: 330px;
    background-color: #fff;
    border-top-left-radius: 32px;
    border-right: 1px solid #f1f1ee;
    border-bottom: 1px solid #f1f1ee;
}

.ones {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onesA {
    font-family: Baloo Chettan\ 2, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #484848;
}

.onesB {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #403d4a;
}

.table2 {
    height: 230px;
    width: 330px;
    background-color: #f9f9f8;
    border-top-right-radius: 32px;
    border-left: 1px solid #f1f1ee;
    border-bottom: 1px solid #f1f1ee;
}

.table3 {
    height: 230px;
    width: 330px;
    background-color: #f9f9f8;
    border-bottom-left-radius: 32px;
    border-right: 1px solid #f1f1ee;
    border-top: 1px solid #f1f1ee;
}

.table4 {
    height: 230px;
    width: 330px;
    background-color: #fff;
    border-bottom-right-radius: 32px;
    border-left: 1px solid #f1f1ee;
    border-top: 1px solid #f1f1ee;
}

.twos {
    margin-top: 100px;
    margin-right: 70px;
}

.menst {
    padding-top: 80px;
}

.m {
    margin-top: 20px;
    line-height: 30px;
}

.imgB {
    margin-left: 30px;
    border-right: 1px solid #e8e8e3;
    padding-right: 20px;
}

.imgDB {
    margin-top: 60px;
}

.five {
    display: flex;
}

.six {
    gap: 25vw;
    padding: 64px 180px;
    background-color: #4b4b4b;
    display: flex;
    color: white;
}

.koo {
    font-family: Baloo Chettan\ 2, cursive;
    font-weight: 800;
    margin-left: 10px;
    padding-left: 0;
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Home_copyrightText__jyD7w {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    opacity: .5;
    margin-top: 40px;
}

.eight {
    margin-left: 10px;
    display: flex;
    gap: 30px;
}

.quick {
    font-family: Baloo Chettan\ 2, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.line {
    border: 2px solid #f1f1ee;
    width: 24px;
    border-radius: 50px;
}

.three {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 2px 0;
}

.links {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #f1f1ee;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #484848;
    text-align: center;
}

.foot {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #484848;
}

.Homes {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 15px;
}

.img2 {
    gap: 30px;
    margin-right: 20px;
}

@media (max-width: 700px){
    div{
        display: flex;
        flex-direction: column;
        width: 600px;
        justify-content: center;
        width: 100%;
    }
    .headerElement{
        display: none;
    }
    .mainImage {
        height: 43px;
        margin-left: 0px;
    }
    .nav {
        top: 0%;
        left: 0%;
        right: 0%;
        height: 64.58px;
        border: 1px solid #E2E8F0;
        position: fixed;
        background-color: white;
        z-index: 100;
        box-shadow: 3px 3px 5px rgb(206, 206, 206);
        display: flex;
        flex-direction: row;
    }
    .imgB{
        width: 300px;
    }
    body{
        width: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}